a:disabled,
a[disabled] {
  color: #337ab7;
  cursor: not-allowed;
  text-decoration: none;
}
body {
  padding-top: 50px;
  padding-bottom: 0;
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.contact-form {
  background-color: #eeeeee;
  padding: 100px 0;
}
.container-fluid > .row {
  margin: 0;
}
.footer {
  background-color: #111;
  color: #eee;
  padding: 50px 0;
}
.navbar-brand > img {
  height: 32px;
  position: relative;
  top: -5px;
}
.product {
  text-align: center;
}
.product > img {
  width: 100%;
  max-width: 300px;
}
.product > .caption {
  color: #555555;
  font-weight: bold;
}
.tab-content > .tab-pane {
  padding-top: 10px;
}
#back-to-top-button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  display: none;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}
#back-to-top-button > i {
  vertical-align: middle;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  height: auto;
  margin-bottom: 10px;
}
.carousel-inner {
  max-width: 1000px;
  margin: auto;
}
.carousel-inner > .item {
  height: auto;
}
.carousel-inner > .item > img {
  position: relative;
  height: auto;
}

/* CUSTOMIZE THE SIGNIN
-------------------------------------------------- */

.form-signin input[type="password"] {
  margin-bottom: 0;
}
