body {
  padding-top: 50px;
}
.navbar-brand > img {
  height: 32px;
  position: relative;
  top: -5px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
  height: auto;
}
.carousel-inner {
  max-width: 1000px;
  margin: auto;
}
.carousel-inner > .item {
  height: auto;
}
.carousel-inner > .item > img {
  position: relative;
  height: auto;
}
